.findus-large {
  width: 100%;
  height: 380px;
}
.findus-large img {
  max-width: none;
}
.findus-popup {
  width: 500px;
  height: 380px;
}
.img-polaroid {
  float: left;
  margin-right: 22px!important;
  margin-bottom: 22px;
}
h3.awesome_heading span {
  margin-right: 19px;
  padding-top: 11px;
}
.show-findus {
  font-weight: bold;
}